body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #997979;
    background-image: linear-gradient(to right, #7b4397, #dc2430);
  }
  
  header {
    background-color:  rgb(148, 83, 127);
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  }
  
  .logo {
    font-size: 36px;
    margin: 0;
    font-family: arial;
  }
  
  nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
    padding: 20px;
  }
  
  section {
    padding: 50px;
    text-align: center;
  }
  
  section#about {
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
  }
  
  section#about img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    margin: 0 auto;
    display: block;
  }
  
  .writing-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .writing-piece {
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    width: 30%;
    margin: 30px;
    text-align: center;
    padding: 40px;
  }
  
  .writing-piece img {
    width: 100%;
  }
  
  form {
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    padding: 40px;
    width: 60%;
    margin: 0 auto;
    text-align: left;
  }
  
  label, input[type="submit"] {
    display: block;
    width: 100%;
    margin-bottom: 20px;
  }
  
  label {
    font-weight: bold;
  }
  
  input[type="text"], input[type="email"], textarea {
    padding: 10px;
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #ddd;
  }
  
  input[type="submit"] {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
  }
  
  .bg-red {
    background-color: #ff4136;
  }
  
  .bg-blue {
    background-color: #0074d9;
  }
  
  .bg-green {
    background-color: #2ecc40;
  }
  